<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Submission Complete
    body
        h1 Successfully Sumbimitted
        a(href="admin/campaign.html") Add items for Campaign
        a(href="admin/product.html") Add items for Products